In [1]:
import numpy as np
from scipy import stats

import matplotlib.pyplot as plt

In [ ]:
num_simulation = 10_000

1. A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.

In [2]:
mean_cars = 2

In [3]:
distribution_poisson = stats.poisson(mean_cars)
distribution_poisson

In [4]:
car_simulation = distribution_poisson.rvs(10_000)

What is the probability that no cars drive up in the noon hour?

In [5]:
no_cars = np.mean(car_simulation == 0)
no_cars

0.1334

What is the probability that 3 or more cars come through the drive through?

In [6]:
three_or_more = np.mean(car_simulation >= 3)
three_or_more

0.3221

How likely is it that the drive through gets at least 1 car?

In [7]:
at_least_1 = np.mean(car_simulation >= 1)
at_least_1

0.8666

2. Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:

In [8]:
mean = 3.0
std_dev = 0.3

In [11]:
grades = stats.norm(3, 0.3)
grades

What grade point average is required to be in the top 5% of the graduating class?

In [12]:
top_five = grades.ppf(0.95)
top_five

3.4934560880854417

What GPA constitutes the bottom 15% of the class?

In [13]:
bottom_15 = grades.ppf(0.15)
bottom_15

2.689069983151863

An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?

In [27]:
third_decile_bottom = grades.ppf(0.2)
third_decile_top = grades.ppf(0.3)

In [31]:
sclp_gpa = 2.8

In [32]:
sch_percent = grades.cdf(sclp_gpa) * 100

If I have a GPA of 3.5, what percentile am I in?

In [38]:
my_gpa = 3.5

In [40]:
my_percentile = grades.cdf(my_gpa) * 100
my_percentile

95.22096477271853

3. A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. How likely is it that this many people or more click through?

In [55]:
random_click = np.random.binomial(4326, 0.02, 10_000)
random_click

array([85, 88, 76, ..., 97, 86, 93])

In [56]:
likely_or_more = sum(random_click > 96) / 10_000
likely_or_more

0.1397

4. You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.

What is the probability that at least one of your first 60 answers is correct?

In [57]:
got_lucky = stats.binom(60, .01).sf(0)
got_lucky

0.45284335760923855

In [58]:
correct_question = 60

In [60]:
simulations = np.random.rand(10_000, 60) < 0.01

In [61]:
correct_answer = np.sum(np.any(simulations, axis = 1))

In [62]:
probability = correct_answer / 10_000
probability

0.4581

5. The codeup staff tends to get upset when the student break area is not cleaned up. Suppose that there's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area. How likely is it that the break area gets cleaned up each day? How likely is it that it goes two days without getting cleaned up? All week?

In [76]:
no_of_student = int(0.9 * 3 * 22)
who_cleans = stats.binom(no_of_student, 0.3)

How likely is it that the break area gets cleaned up each day?

In [77]:
each_day = who_cleans.sf(0)
each_day

0.9999999992742545

How likely is it that it goes two days without getting cleaned up? All week?

In [78]:
two_days = who_cleans.cdf(0) ** 2
two_days

5.267065530394907e-19

In [79]:
all_week = who_cleans.cdf(0) ** 5
all_week

2.0133617064764373e-46

6. You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class? Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.

In [87]:

people_in_line_mean = 15
people_in_line_stdv = 3

# mean and standard deviation of waiting time in minutes
mean_wait_time = 15 * 2
std_dev_wait_time = 3* 2

In [89]:
lunch = stats.norm(15,3)
lunch

7. Connect to the employees database and find the average salary of current employees, along with the standard deviation. For the following questions, calculate the answer based on modeling the employees salaries with a normal distribution defined by the calculated mean and standard deviation then compare this answer to the actual values present in the salaries dataset.

In [99]:
import pandas as pd
from sqlalchemy import text, create_engine
import env

In [100]:
url = env.get_connection('employees')

In [101]:
engine = create_engine(url)

In [102]:
query = '''
        SELECT *
        FROM salaries
        WHERE to_date > CURDATE()
        '''

In [104]:
salary_df = pd.read_sql(query, engine)
salary_df.head()

   emp_no  salary   from_date     to_date
0   10001   88958  2002-06-22  9999-01-01
1   10002   72527  2001-08-02  9999-01-01
2   10003   43311  2001-12-01  9999-01-01
3   10004   74057  2001-11-27  9999-01-01
4   10005   94692  2001-09-09  9999-01-01

In [109]:
mean_s = salary_df['salary'].mean()

In [110]:
std_s = salary_df['salary'].std()

In [112]:
salary_dist = stats.norm(mean_s, std_s)
salary_dist

a. What percent of employees earn less than 60,000?

In [113]:
under_60k = salary_dist.cdf(60_000)
under_60k

0.24385742480214423

b. What percent of employees earn more than 95,000?

In [114]:
over_95k = salary_dist.sf(95_000)
over_95k

0.09208819199804053

c. What percent of employees earn between 65,000 and 80,000?

In [116]:
between_65k_80k = salary_dist.cdf(80_000) - salary_dist.cdf(65_000)
between_65k_80k

0.3350605685446666

d. What do the top 5% of employees make?

In [118]:
salary_dist.isf(.05)

100484.64454102777